# EditorConfig configuration for pacman
# http://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines without trailing whitespaces, but with a newline
# ending every file, utf-8 charset, set indent to tabs
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = tab
indent_size = 4
max_line_length = 80

[*.json]
indent_size = 2

[*.py]
indent_style = space

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[{Makefile,*.mak}]
indent_style = tab

[*.{md}]
indent_style = space

[meson.build]
indent_style = space
indent_size = 2

# All <CPP> extensions
[*.{h,hh,hpp,hxx,h++,inl,ipp,ixx,tlh,tli}]
indent_style = space
indent_size = 4

# All <C> extensions
[*.{c,m}]
indent_style = space
indent_size = 4

# All <CXX> extensions
[*.{C,M,c++,cc,cpp,cxx,mm,mpp,CPP,ixx,cppm,ccm,cxxm,c++m}]
indent_style = space
indent_size = 4

# All <Fortran> extensions
[*.{f,F,fpp,FPP,f77,F77,f90,F90,for,For,FOR,f95,F95,f03,F03,f08,F08}]
indent_style = space
indent_size = 4

# All <ASM> extensions
[*.{s,S,asm}]
indent_style = space
indent_size = 4

# All <RC> extensions
[*.rc]
charset = utf-16le
indent_size = 4

# Windows specific files should retain windows line-endings
[*.{sln,[sS][lL][nN]}]
end_of_line = crlf
[*.{cmd,[cC][mM][dD]}]
end_of_line = crlf
[*.{bat,[bB][aA][tT]}]
end_of_line = crlf
[*.{ps1,psm1}]
end_of_line = crlf
