/.cache

# /.vscode
/.vscode/browse
!/.vscode/c_cpp_properties.json
/.vscode/cmake-kits.json
/.vscode/cmake-kits.schema.json
!/.vscode/settings.json
!/.vscode/tasks.json

/bin
/lib
/out
/usr
/clang64
/clang32
/clangarm64
/mingw64
/mingw32
/ucrt64

!/doc/CxxWin/screenshot_blank_example.png
!/doc/CxxWin/screenshot_circles_example.png

!/share/CxxWin/img/ApplicationIcon.png
!/share/CxxWin/img/Logo.png
!/share/CxxWin/img/SmallLogo.png
!/share/CxxWin/img/SmallLogo44x44.png
!/share/CxxWin/img/SplashScreen.png
!/share/CxxWin/img/StoreLogo.png
